
@mixin embed-font {
  font-family: 'Courier Prime', monospace;
}
@mixin subheading-font {
  font-family: 'Titillium Web', Arial, sans-serif;
}
@mixin heading-font {
  font-family: 'Audiowide', sans-serif;
}