html, body {
    font-family: 'Roboto', sans-serif;
}

#main {
    max-width: 800px !important;
    margin: 0 auto;
}

#chart {
    width: 100%;
}

section {
    opacity: 0;
}

.show {
    opacity: 1;
}

.axis, .label {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.axis path, .axis line {
    fill: none;
    display: none;
}

#header {
    margin: 40px 130px 20px;
}

.ui.header {
    margin: calc(1.25rem - .14285714em) 0 .5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}