body {
    font-family: "Arial", sans-serif;
}

#chart {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.bar {
    fill: #5f89ad;
}

.axis {
    font-size: 13px;
}

.axis path, .axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 11px;
    stroke: none;
}